@media screen and (min-width: 200px) {
  .season-title {
    margin-top: 3em;
    color: #fff;
    font-size: 1.9em;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin-left: 1em;
  }
  .season-line {
    width: 80px;
    height: 4px;
    border-radius: 30px;

    background-color: #f0c244;
    margin-left: 1em;
  }
  .main-search-container {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    background-color: red;
    .overlay-bottom,
    .overlay-top,
    .overlay-left,
    .overlay-right {
      position: absolute;
      pointer-events: none;
      z-index: 20;
      left: 50%;
      transform: translate(-50%, 0%);
      top: 20;
      width: 100%;
      height: 620px;
      max-height: 1000px;
      max-width: 1920px;
    }
    .overlay-bottom {
      opacity: 0.8;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, #000000 95%);
    }
    .overlay-top {
      opacity: 0.3;
      background: linear-gradient(360deg, rgba(0, 0, 0, 0) 30%, #000000 95%);
    }
    .overlay-left {
      opacity: 0.35;
      background: linear-gradient(270deg, rgba(0, 0, 0, 0) 30%, #000000 100%);
    }
    .overlay-right {
      opacity: 0.35;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 30%, #000000 100%);
    }
    .bg-img {
      background-image: url(./bg-hero.png);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .search-content-container {
        margin-top: -1em;
        z-index: 200;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Inter", sans-serif;
        text-align: center;
        font-size: 1.06em;
        .title-1 {
          font-size: 33px;
          letter-spacing: 0.6px;

          font-family: "Titan One", sans-serif;
          margin-bottom: 20px;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;
        }
        .title-2 {
          margin-bottom: 10px;
        }
        .title-3 {
          margin-bottom: 25px;
        }
        .search-container {
          display: flex;
          flex-direction: column;
          gap: 1.5em;
          .searchbar {
            margin-bottom: 10px;
            width: 300px;
            max-width: 600px;
            padding: 10px 20px;
            font-size: 1em;
            border-radius: 4px;
            border: none;
            outline: none;
          }
          .search-btn {
            width: 50%;
            align-self: center;
            font-size: 1.2em;
            padding: 13px 0em;
            border-radius: 5px;
            border: none;
            background-color: #f0c244;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .season-title {
    font-size: 2.8em;
    font-weight: 900;
    margin-left: 2em;
  }
  .season-line {
    width: 300px;
    margin-bottom: 50px;

    height: 4px;
    background-color: #f0c244;
    margin-left: 5em;
  }
  .main-search-container {
    height: 700px;
    margin-bottom: 20vh;
    .overlay-bottom,
    .overlay-top,
    .overlay-left,
    .overlay-right {
      height: 720px;
    }
    .overlay-bottom {
      opacity: 0.8;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, #000000 95%);
    }
    .overlay-top {
      opacity: 0.3;
      background: linear-gradient(360deg, rgba(0, 0, 0, 0) 30%, #000000 95%);
    }
    .overlay-left {
      opacity: 0.35;
      background: linear-gradient(270deg, rgba(0, 0, 0, 0) 30%, #000000 100%);
    }
    .overlay-right {
      opacity: 0.35;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 30%, #000000 100%);
    }
    .bg-img {
      .search-content-container {
        padding: 0 2em;
        font-size: 1.8em;
        margin-top: 1em;
        .title-1 {
          font-size: 65px;
          letter-spacing: 0.6px;
          font-family: "Titan One", sans-serif;
          margin-bottom: 30px;
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: rgb(28, 28, 28);
        }
        .title-2 {
          margin-bottom: 30px;
        }
        .title-3 {
          margin-bottom: 20px;
        }
        .search-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 0.5em;
          .searchbar {
            width: 600px;
            max-width: 600px;
            padding: 10px 20px;
            font-size: 1em;
            border-radius: 4px;
            border: none;
            outline: none;
          }
          .search-btn {
            margin-top: -10px;
            width: 30%;
            align-self: center;
            font-size: 1em;
            padding: 10px 0em;
            border-radius: 5px;
            border: none;
            background-color: #f0c244;
          }
        }
      }
    }
  }
}
